body{
        background-color: rgb(25, 25, 25);
        color: white;
        font-family: Arial;
      }
      .title{
        font-size: 30px;
        font-weight: bold;
      }
      .move-icon{
        height: 50px;
        width: 50px;

      }
      .move-button{
      background-color: transparent;
      border-radius: 60px;
      border: 3px solid white;
      width: 120px;
      height: 120px;
      margin-right: 10px;
      cursor: pointer;
      }
      .result{
        font-size: 25px;
        font-weight: bold;
        padding-top: 25px;
      }
      .moves{
        padding-bottom: 45px;
      }
      .reset-button{
        background-color: whitesmoke;
        padding: 12px 15px;
      }